:root {
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  padding: 0.75em;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  
  position: absolute;
  right: 0;
  left: 0;
  
  background-color: #262626;
}
.header > * {
  margin: 10px 20px;
}
.header,
.nav-list {
  justify-content: space-between;
}
a,
button {
  text-decoration: none;
  background-color: #262626;
  color: aliceblue;
  font-weight: bold;
}
.logo {
  font-size: 1.3rem;
  font-family: cursive;
  text-transform: capitalize;
}

.nav {
  width: 350px;
}
ul {
  list-style: none;
}
.nav-list {
  display: flex;
  padding-left: 0;

  min-width: 50%;
  width: 100%;
  max-width: 100%;
}

.nav-list-link,
.btn-contact {
  text-transform: uppercase;
}

.btn-contact {
  width: 100px;
  padding: 1em;
  border: 2px solid white;
  border-radius: 5px;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
